{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="row">
    {% for car in car_list %}
      <div class="col-sm-4">
        <div class="panel panel-primary">
          <div class="panel-heading">{{ car['number'] }}</div>
          <div class="panel-body">
            <img src="{{ car.image }}" class="img-responsive" style="width:100%" alt="Image">
          </div>
          <div class="panel-footer">
            <a href="/single_car/{{ car.id }}" class="btn btn-info" role="button">View</a>
            <a href="/edit_car/{{ car.id }}" class="btn btn-warning" role="button">Edit</a>
            <form action="/delete_car/{{ car.id }}" method="post" style="display:inline;">
              <button type="submit" class="btn btn-danger">Delete</button>
            </form>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}

